<div class="container">
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
    </ul>
  </nav>
  <h2>Lista de Utilizadores</h2>
  <button routerLink="/user-form/0" class="btn btn-primary">Adicionar Novo Utilizador</button>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Perfil</th>
        <th>Ativo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.profile }}</td>
        <td>{{ user.active ? 'Sim' : 'Não' }}</td>
        <td>
          <!--a [routerLink]="['/users/edit', user.id]">Editar</a-->
          <button (click)="editUser($event, user.id)" class="btn btn-danger">Editar</button>
          <button (click)="deactivateUser(user.id)" class="btn btn-danger">Desativar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
