<div class="login-form">
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
    </ul>
  </nav>
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <div>
        <label for="username">Username</label>
        <input id="username" [(ngModel)]="username" name="username" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" type="password" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit">Login</button>
      <div *ngIf="errorMessage">{{ errorMessage }}</div>
    </form>
  </div>
  